*body
{
margin: 10px;
font-family: Arial, sans-serif;
background-color: hsl(0, 83%, 9%);
}
*
.nav
{
background-color: rgb(104, 12, 12);
color: brown;
padding: 10px 20px;
position: fixed;
width: 100%;
top: 0;
display: flex;
display:space between;
}
.welcome-section{
display: flex;
flex-direction: row;
align-items: center;
text-align: center;
padding: 20px;
}